@model IEnumerable<Decker_MVCParticipation.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    
    <div class="card" style="width: 18rem; border: 2px solid black; border-radius:4px; margin: 5px; text-align: center; float:left;">
       
        <h5>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName) </h5>
     

        <p>@Html.DisplayFor(modelItem => item.FavoriteColor)</p>
     
        @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
        @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
        
    </div>
}


